<% include ./partials/header %>
<div class="ui main text container segment">
  <div class="ui huge header"><%= blog.titolo %></div>
  <div class="ui top attached">
    <div class="item">
      <img class="ui centered rounded image" src="<%= blog.immagine %>">
      <div class="content">
        <span><%= blog.creato.toDateString() %></span>
      </div>
      <div class="description">
        <p>
          <%- blog.corpo %>
        </p>
      </div>
      <!-- aggiungo link all'edit -->
      <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Modifica</a>
      <!-- aggiungo il bottone di cancellazione -->
      <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button class="ui red basic button">Cancella</button>        
      </form>
    </div>
  </div>
</div>
 
<% include ./partials/footer %>